@font-face {
    font-family: 'keep_on_truckinregular';
    src: url('police/keepontruckin-webfont.woff2') format('woff2'),
         url('police/keepontruckin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: repeating-linear-gradient(to left, #c1a897, #a59284, #ded0c2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section{
    background: #f1eae0;
    overflow: auto;
    width: 60%;
    height: 50vh;
    padding: 2%;
    border-radius: 50px;
    box-shadow: #847163 20px 20px 0;
    border: solid 2px #a69385;
}

section::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 100px;
    background-color: none;
}

section::-webkit-scrollbar-thumb {
    background: #847163;
}

h1{
    font-family: 'keep_on_truckinregular';
    font-size: 5rem;
    color: #fff;
    font-weight: normal;
    margin-top: 50px;
    -webkit-text-stroke: 2px #988577;
}

.infos{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

input[type="text"]{
    width: 100%;
    height: 5%;
    box-shadow: 0px 0px 20px #fff;
    border-radius: 50px 0 0px 50px;
    border: 1px solid #847163;
}

button{
    font-size: 1.2rem;
    color: #fff;
    height: 5%;
    background-color: #847163;
    border-radius: 0 50px 50px 0;
    border: none;
    padding: 0 10px 0 10px;
}

button:hover{
    cursor: pointer;
}

/*PARTIE JS*/

.box-style{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: white;
    border-radius: 50px;
    padding: 1%;
    margin: 2% 5% 0 5%;
}

.rm-task-style{
    justify-self: end;
    padding-right: 30%;

}

.rm-task-style:hover{
    cursor: pointer;
}

